---
title: Resume
permalink: /resume
resume_path: /assets/StephanieYip_Resume_Aug2019.pdf
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <script>
      window.location.href= "{{page.resume_path}}";
  </script>
  
  {% include proj_pg_header.html %}

    <main class = "container proj-pg-container">
        <div class = "reg-centered">
          Click <a href = "{{page.resume_path}}">here</a> to see résumé
        </div>
    </main>
    
    <!--
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

     <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">

     -->

    {% include footer.html %}
</body>

</html>